.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 44px;
  height: 60px;
  gap: 27px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  text-align: left;
  color: #b1b1b1;
  position: relative;
}

.link.active {
  color: #1814f3;
}

.link.active::before {
  content: '';
  width: 6px;
  height: 100%;
  position: absolute;
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #1814f3;
}

.link:hover {
  opacity: 0.8;
}
