.sidebar {
  max-width: 250px;
  height: 100%;
  padding-top: 33px;
  padding-right: 22px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-right: 1px solid #e6eff5;
}

.logo {
  padding-left: 44px;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}
