.page {
  width: 100%;
  background-color: #f5f7fa;
}

.container {
  background-color: #fff;
  display: flex;
  border-radius: 25px;
  width: calc(100% - 80px);
  padding: 37px 30px 30px 30px;
  margin: 30px 40px 0 40px;
}

.tabs {
  width: 100%;
}

.tabList {
  display: flex;
  list-style: none;
  gap: 76px;
  align-items: flex-end;
  padding-left: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f4f5f7;
  width: 100%;
}

.tab {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: left;
  color: #718ebf;
  position: relative;
}

.tab:hover {
  opacity: 0.8;
  cursor: pointer;
}

.tab.selected {
  color: #1814f3;
  outline: none;
}

.tab.selected::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: -15%;
  height: 3px;
  width: 130%;
  background-color: #1814f3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media screen and (max-width: 650px) {
  .tabList {
    gap: 42px;
    padding-left: 0px;
    padding-bottom: 7px;
    border-bottom: 1px solid #f4f5f7;
  }

  .tab {
    font-size: 13px;
    line-height: 15.73px;
  }

  .container {
    border-radius: 15px;
    width: calc(100% - 50px);
    padding: 22px 20px 25px 20px;
    margin: 25px 25px 0 25px;
  }
}
